<div class="top-buffer">
    <h2>Confirmation</h2>
    @{
        string message = TempData["Message"] as string;
        if (message != null)
        {
            <div class="alert-message">@message</div>
        }
    }
</div>

<script>
    window.setTimeout(function () {
        window.location.href = "../";
    }, 3000);
</script>


