
a:hover {
    color: black;
    background-color: transparent;
}

.navbar-brand {
  font-size: 5rem;
  color: black;
}

.navbar-default .navbar-brand {
    color: black;
    font-weight: bolder;
}

a.navbar-brand:hover {
    color: #dd083a; 
}

.navbar-default .navbar-brand:hover {
    color: #428bca;
}

.nav > li > a:hover {
    background-color: transparent;
    font-weight: bold;
}

.navbar-default {
    background-color: transparent;
    border: none;
}

.navbar-default a:hover{
    color: #428bca;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover{
    font-weight: bold;
    color: #428bca;
}

.navbar-default .navbar-nav > li > a {
    color: black;
    font-weight: bolder;
}